@import "uikit/uikit.less";
@import "uikit/components/slideshow.less";
@import "uikit/components/sticky.less";

html, body {
	background-color: #f5f5f5;
	background-image: url('../../images/bg-pattern2.png');
	font-size: 1.1em;
    line-height: 1.4em;
}

header.navbar, .uk-navbar {
   background: #f1d01f;
}

.uk-navbar-nav>li>a {
   height: 50px;
   line-height: 50px;
   font-weight: bold;
}

.uk-navbar-brand {
	height: 50px;
}

.uk-navbar-nav > li:not(.uk-active) > a:focus {
	background-color: inherit;
	border-color-left: rgba(0, 0, 0, 0);
	border-color-right: rgba(0, 0, 0, 0);
}

img.logo {
	height: 50px;
	width: auto;
}

@media screen and (max-width: 394px) {
	img.logo {
		height: auto;
    	margin-top: -4em;
	}
}

.yellow-section {
	background-color: #e28327;
   	color: #fff;
   	a:link, a:visited {
   		color: #fff;
   	}

	h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.thin-border {
	border: 1px solid #9E9E9E;
}

#contact {
	border-top: 10px solid #222222;
}

.uk-pagination > li > a {
	&:link,
	&:active,
	&:focus,
	&:visited {
	    background: #35b3ee;
	    color: white;
	    padding: .7em;
	}
}

.featured-image {
	border-bottom: 1px solid #c1c1c1;
    box-shadow: 0 2px 5px -5px;
    width: 100%;
    height: auto;
}

.btn {
	font-size: 1.1em;
    padding: .4em 1em;
}

.btn-primary {
	&:link,
	&:visited,
	&:hover {
		color: #fff;
	    background-color: #337ab7;
	    border-color: #2e6da4;
	}
}

.btn-info {
	&:link,
	&:visited,
	&:hover {
		color: #fff;
	    background-color: #5bc0de;
	    border-color: #46b8da;
	}
}

.no-margin {
	margin: 0;
}

.title-box {
	// background-image: url('../images/bg-pattern.png');
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a8e6+0,2989d8+39,207cca+56,00a8e6+100 */
	background: #00a8e6; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #00a8e6 0%, #2989d8 39%, #207cca 56%, #00a8e6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #00a8e6 0%,#2989d8 39%,#207cca 56%,#00a8e6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #00a8e6 0%,#2989d8 39%,#207cca 56%,#00a8e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8e6', endColorstr='#00a8e6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin-top: 2em;
    padding: 4em 0;
    h1 {
    	font-family: verdana, sans-serif;
    	line-height: 1em;
    	font-weight: 700;
    	font-size: 50px;
    }
}

.box-meta {
    padding: 1.1em;
}